//@import "../base/vars";

.footer {
  position: relative;
  padding: get_relative_units(230) 0;//15vh 0;
  color: #fff;
  text-align: center;
  z-index: 1;
  overflow: hidden;


  background: url('assets/images/footer.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;

  p {
    font-size: get_relative_units(28);//34
    line-height: get_relative_units(48);//48
    letter-spacing: .06em;
  }

  @include breakpoint(mobile) {

    p {
      font-size: 13px;
      line-height: 15px;
      max-width: 85%;
    }
  }// BP MOBILE
}// .footer

.footer-newsletter {
  position: relative;

  .footer-newsletter-row {
    @include flexbox();
    @include prefixed(justify-content, center);
    @include prefixed(align-items, center);
  }

  .demand {
    font-size: get_relative_units(144);// 144
    letter-spacing: .08em;
    margin: 0 2vw 0 0;
  }

  form {
    position: relative;
//    padding-right: 13vw;
    font-size:0;

//    input[type=email], .submit-email {
//      display: inline-block;
//      vertical-align: bottom;
//    }

    .input-wrapper {
      overflow: hidden;
    }// .input-wrapper

    input[type=email] {
      width: get_relative_units(440);//15vw;
      background: white;
      font-size: get_relative_units(20);
      letter-spacing: .1em;

      $errorColor: #FF574D;
      &.mce_inline_error {
        ::-webkit-input-placeholder {
          color: $errorColor;
        }

        :-moz-placeholder { /* Firefox 18- */
          color: $errorColor;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
          color: $errorColor;
        }

        :-ms-input-placeholder {
          color: $errorColor;
        }
      }// .mc-inline-error
    }

    .submit-email {
      position: absolute;
      height: 100%;
      width: auto;
      left: 100%;
      top: 0;
      @include shadow(none);

      .cta {
        .icon {margin-right: 0;}
        .label { display: none; }
        .filler {
          padding: 1.6vw;// input padding
        }
      }
    }
  }// .form

  p {
    position: absolute;
    top: 140%;
    left: 10%;
    width: 80%;
  }

  @include breakpoint(mobile) {
    margin-bottom: 15vh;

    .footer-newsletter-row { display: block;}

    .demand {
      font-size: 11vw;
      margin: 0 auto;
    }// .demand

    form {
      width: auto;
      display: inline-block;

      input[type=email] {
        font-size: 10px;
        width: 100%;//65%;
        display: block;
        padding: 18px;
        @include prefixed(transition, color $shortTrans);
      }
      .submit-email {
        position: static;
        margin-top: 20px;

        .cta {
          .filler {padding: 18px;}
          .icon {margin-right: $ctaPaddMobile;}
          .label { display: inline; }
        }

      }
    }// form

    p {
      position: static;
      margin: 2vw auto 10vw auto;
    }// p

  }// BP MOBILE

}// .footer-newsletter

.hosted-by-logo {
  background: url("assets/images/hosted-by.svg") no-repeat center;
  background-size: contain;
  width: get_relative_units(600);//80%;
  height: get_relative_units(55);//2.4vw;
  margin: 0 auto;

  @include breakpoint(mobile) {
    height: 5vw;
  }
}// .hosted-by-logo

.footer-hosted-by {
  padding: get_relative_units(300) 0 get_relative_units(200) 0;

  .hosted-by-p {
//    width: 45vw;
    margin: 1.5vh auto 8vh;
//    letter-spacing: 0.1vw;
//    font-weight: 100;
//    line-height: 1.7em;
  }

//  .hosted-by-link {
//    @include cta(#fff, #000);
////    background-color: #fff;
////    color: #000;
//    font-size: 0.7vw;
//  }

  @include breakpoint(mobile) {
    padding: 0;

    .hosted-by-p {margin-bottom: 0;}

    .hosted-by-link {
      display: inline-block;
      max-width: 90%;
      margin: 15vh auto;
    }
  }// BP MOBILE
}// .footer-hosted-by

.footer-social {
  ul {
    margin: 0;
    padding: 0;
    @include flexbox();
    @include prefixed(justify-content, center);
    li {
      padding: 0;
      list-style: none;
      margin: 0 1vw;
      a {
        $size:get_relative_units(60);
        display: block;

        width: $size;
        height: $size;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        &.instagram { background-image: url('assets/images/instagram.svg'); }
        &.facebook {
          background-image: url('assets/images/facebook.svg');
          background-size: 36%;
        }
        &.twitter {
          background-image: url('assets/images/twitter.svg');
          background-size: 72%;
        }
      }// a
    }// li
  }// ul
}// .footer-social

div.mce_inline_error { display: none !important; }

#mce-responses {
  .response {
    display: block;
    position: fixed;
    top: 50%;
    left: 35%;
    width: 30vw;
    height: auto;
    padding: 2vw;
    border-radius: 1vw;
    background: white;
    color: black;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    line-height: 19px;
    z-index: 999;
    @include transform(translateY(-50%));
  }// .response
}// .mce-responses