#productWrapper, #sqs-shopping-cart-wrapper {

  width: $contentWidth;
  max-width: 800px;
  padding-top: $sectionMarginBottom;
  margin: 0 auto $sectionMarginBottom auto;

}// #product-wrapper

#productSummary {

  #productDetails {

    .product-title {
      @extend .s-headline;
    }

    .variant-option-title {display: none;}

    .sqs-add-to-cart-button {
      @extend .cta;
      padding: 3vw;
      margin: 20px auto;
    }// .sqs-add-to-cart-button

  }// #product-details

}// #product-summary

#sqs-shopping-cart-wrapper {

}

.absolute-cart-box {

  top: 2vw;// like .burger
  right: calc(~"4vw + 62px");// .burger margin*2 + .burger width
  opacity: .2;
  @include prefixed(transition, $shortTrans);

  &:hover {
    opacity: 1;
  }

  .sqs-pill-shopping-cart .sqs-pill-shopping-cart-content {

    height: auto;
    width: auto;
    min-width: auto;
    padding: 0 10px;

    .icon, .details, .subtotal {
      margin: 0;
      float: none;
      position: static;
      display: inline-block;
      vertical-align: middle;
      font-size: 10px;
    }// icon, details, subtotal

    .icon {
      background-size: 12px;
    }

    .subtotal {
      margin-left:10px;
    }

  }// .sqs-pill-shopping-cart-content dark


}// .absolute-cart-box