#productWrapper, #sqs-shopping-cart-wrapper {

  width: $contentWidth;
  max-width: 800px;
  padding-top: calc(~"#{$sectionMarginBottom} * 1.5");
  margin: 0 auto $sectionMarginBottom auto;

  #productNav {
    text-transform: none;
    font-size: 11px;

    .back-arrow { margin-right:5px; }
  }// #productNav

}// #product-wrapper

#productSummary {

  #productDetails {

    .product-title {
      @extend .s-headline;
    }

    .product-price {
      font-size: 1.4vw;
      font-weight: 500;

      .sqs-money-native:before { margin-right: 5px; }
    }// .product-price

    .product-excerpt {
      * {
        font-size: 1.3vw;
        line-height: 1.9vw;
      }// *
    }// .product-excerpt

    .variant-select-wrapper {
      select {
        font-size: 1.2vw;
        padding: .5vw 3vw .5vw .7vw;
        border: 1px solid #ccc;// same gray as squarespace quantity field border
        background: url('assets/images/small-arrow-down.svg');
        @include prefixed(outline, none);
        @include prefixed(appearance, none);

        &:active, &:visited {@include prefixed(outline, none);}
      }// select
    }// .variant-select-wrapper

    .product-quantity-input {
      display: inline-block;
      position: relative;

      .quantity-label {
        display: inline-block;
      }// .quantity-label

      input {
        display: block;
        margin-top:5px;
      }// input
    }// .product-quantity-input

    .variant-option-title {display: none;}

    .sqs-add-to-cart-button {
      @extend .cta;
      padding: 1.6vw 20% !important;
      margin: 20px auto;
      display: inline-block;
    }// .sqs-add-to-cart-button

  }// #product-details

  #productGallery #productSlideshow .slide {
    z-index: auto !important;

    img {left: 0 !important;}
  }// #productGallery #productSlideshow .slide

  @include breakpoint(mobile) {

  }// BP MOBILE

}// #product-summary

// cart page
#sqs-shopping-cart-wrapper {

  .cart-container {// table-container

    .item-desc {
      a {font-weight: 500;}
    }

  }// .cart-container

  .checkout-button {
    @extend .cta;
    padding: 1.4vw 4vw;
    margin: 20px auto;
  }// .checkout-button

}// #sqs-shopping-cart-wrapper

// fixed pill
.absolute-cart-box {

  position: absolute;
  top: calc(~"2vw + 12.5px");
  right: 2vw;
  left: auto;// necessary so it won't fill screen
  bottom: auto;// necessary so it won't fill screen
  background:black;
  z-index: 11;
  @include prefixed(transition, $shortTrans);

  &:hover {
    background:#323232;
  }

  .sqs-pill-shopping-cart .sqs-pill-shopping-cart-content {

    height: auto;
    width: auto;
    min-width: auto;
    padding: 0 10px;
    border:none;
    border-radius: 0;
    @include shadow(none);

    .icon, .details, .subtotal {
      margin: 0;
      float: none;
      position: static;
      display: inline-block;
      vertical-align: middle;
      font-size: 10px;
    }// icon, details, subtotal

    .icon {
      background-size: 12px;
    }

    .subtotal {
      margin-left:7px;

      .price { font-size: 10px; }
    }// .subtotal

  }// .sqs-pill-shopping-cart-content dark

  @include breakpoint(mobile) {

  }// BP MOBILE

}// .absolute-cart-box