#productWrapper {

  width: $contentWidth;
  max-width: 800px;
  padding-top: $sectionMarginBottom;
  margin: 0 auto $sectionMarginBottom auto;

}// #product-wrapper

#productSummary {

  #productDetails {

    .product-title {
      @extend .s-headline;
    }

    .variant-option-title {display: none;}

    .sqs-add-to-cart-button {
      @extend .cta;
      padding: 3vw;
      margin: 20px auto;
    }// .sqs-add-to-cart-button

  }// #product-details

}// #product-summary