.sharebox {

  margin-bottom: 20vh;
  ul {
    padding: 0;
    //    margin: 0;
    @include flexbox();
    @include prefixed(justify-content, center);
    margin: 0 auto;
    li {
      padding: 0;
      list-style: none;
      margin: 0 0.75vw;
    }
  }
  .label {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8vw;
    font-weight: 700;
    margin-top: 3vh;
    letter-spacing: .06em;
  }

  .sqs-simple-like {

    position: relative;
    display: inline-block;
    text-align: left;

    .like-icon {
      margin: 0;
      height: 3vw;
      width: 3vw;
      border-radius: 0;
      background: black url("assets/images/icon-like.svg") center center no-repeat;
      background-size: 40%;
      display: block;
      @include prefixed(transition, none);
    }// .like-icon

    .like-count {
      @include flexbox();
      @include prefixed(justify-content, center);
      @include prefixed(align-items, center);
      position: absolute;
      height: 1vw;
      width: 1vw;
      border-radius: 100%;
      background: #fff;
      top: 0;
      left: 0;
      font-size: .6vw;
      font-weight: 500;
      color: black;
      @include shadow(0 1px 3px rgba(0,0,0,.25));
      @include transform(translatex(-50%) translatey(-50%));
    }// .like-count

    &.clicked {
      .like-icon {
        background: black url("assets/images/icon-like.svg") center center no-repeat;
        background-size: 40%;
        @include prefixed(animation, none);
        @include prefixed(transition, none);
      }// .like-icon
    }// .clicked

  }// .sqs-simple-like

  //------------------------------------------------------------------------
  //------------------------------------------------------------------------

  @include breakpoint(mobile) {

    .label { font-size: 9px;}

    .sqs-simple-like {

      .like-icon {
        width: 38px;
        height: 38px;
      }

      .like-count {
        font-size: 10px;
        width: 15px;
        height:15px;
      }
    }// .simple-like

  }// BP MOBILE
}// .sharebox

.page {


  .squarespace-social-buttons, .squarespace-social-buttons.button-style, .squarespace-social-buttons.inline-style {

    //&.button-style {

      .ss-social-button-wrapper {

        width: 3vw;
        height: 3vw;
        padding: 0;
        border-radius: 0;
        background: black url("assets/images/icon-share.svg") center center no-repeat;
        background-size: 40%;

        .ss-social-button {
          width: 0;
          height: 0;
          overflow: hidden;
        }

      }// .ss-social-button-wrapper
    //}// &.button-style

  }// .squarespace-social-buttons

  @include breakpoint(mobile) {



  }// BP MOBILE
}