.sharebox {

  .sqs-simple-like {

    position: relative;
    display: inline-block;
    text-align: left;

    .like-icon {
      margin: 0;
      height: 3vw;
      width: 3vw;
      border-radius: 0;
      background: black url("assets/images/icon-like.svg") center center no-repeat;
      background-size: 40%;
      display: block;
      @include prefixed(transition, none);
    }// .like-icon

    .like-count {
      @include flexbox();
      @include prefixed(justify-content, center);
      @include prefixed(align-items, center);
      position: absolute;
      height: 1vw;
      width: 1vw;
      border-radius: 100%;
      background: #fff;
      top: 0;
      left: 0;
      font-size: .6vw;
      font-weight: 500;
      color: black;
      @include shadow(0 1px 3px rgba(0,0,0,.25));
      @include transform(translatex(-50%) translatey(-50%));
    }// .like-count

    &.clicked {
      .like-icon {
        background: black;
        @include prefixed(animation, none);
        @include prefixed(transition, none);
      }// .like-icon
    }// .clicked

  }// .sqs-simple-like

  @include breakpoint(mobile) {

    .sqs-simple-like {

      .like-icon {
        width: 38px;
        height: 38px;
      }

      .like-count {
        font-size: 10px;
        width: 15px;
        height:15px;
      }
    }// .simple-like

  }// BP MOBILE
}// .sharebox



.sharebox {
  margin-bottom: 20vh;
  ul {
    padding: 0;
    //    margin: 0;
    @include flexbox();
    @include prefixed(justify-content, center);
    margin: 0 auto;
    li {
      padding: 0;
      list-style: none;
      margin: 0 0.75vw;
      //a {
      //  display: block;
      //  height: 3vw;
      //  width: 3vw;
      //  background-color: #000;
      //  background-repeat: no-repeat;
      //  background-size: 40%;
      //  background-position: center center;
      //  position: relative;
      //  &.like {
      //    background-image: url('assets/images/icon-like.svg');
      //  }
      //  &.share {
      //    background-image: url('assets/images/icon-share.svg');
      //  }
      //  .badge {
      //    height: 1vw;
      //    width: 1vw;
      //    border-radius: 100%;
      //    background: #fff;
      //    position: absolute;
      //    top: 0;
      //    left: 0;
      //    @include transform(translateX(-50%) translateY(-50%));
      //    font-size: 0.6vw;
      //    font-weight: 500;
      //    @include flexbox();
      //    @include prefixed(justify-content, center);
      //    @include prefixed(align-items, center);
      //    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
      //    color: #000;
      //  }
      //}
    }
  }
  .label {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8vw;
    font-weight: 700;
    margin-top: 3vh;
    letter-spacing: .06em;
  }

  @include breakpoint(mobile) {

    ul {
      li {
        //a {
        //  width: 38px;
        //  height: 38px;
        //
        //  .badge {
        //    font-size: 10px;
        //    width: 15px;
        //    height:15px;
        //  }
        //}
      }
    }
    .label { font-size: 9px;}
  }// BP MOBILE

}// .sharebox
