.poster.arc {

  $pattern: 'assets/images/textures/texture2.png';

  .poster-pattern {
    background-image: url(#{$pattern});
  }

  .layer {
    &.bg-layer {
      .half {
        &:first-child {
          &:before {
            content: '';
            display: block;
            @extend .fill-parent;
            //height: 95%;
            top: -4%;
            left: -2%;
            background-image:  url();
            background-size:cover;
            opacity: .5;
          }// before

          .fill-parent.imgfill {
            background-image: url(#{$pattern});
          }// .fill-parent
        }// first-child
      }// .half
    }// .bg-layer

    &.model-layer {
      position: absolute;
      top: 6%;
      left: 14%;
      width: 75%;
      overflow: hidden;

      //&:before {padding-top: 100%;}
    }// .model-layer

    &.copy-layer {
      .half {
        &:last-child{
          &:after{ background: black; }
        }
      }
    }// .copy-layer

  }// .layer

  .icon {
    &.episode {
      @include svg-content() { fill: white; }
      .icon-label { color: white; }// .icon-label
    }// .episode
  }// .icon

  .ep-date { color: white;}

  .ep-lineup { color: black; }

  .artist{
    &:hover {
      color:white;
      .label { background: black; }
    }
  }

  .btn-play-episode {
    background: white;
    color: black;
    &:hover {
      background: #f0f0f0;
    }
  }

}// .poster