.poster.fullTriangle {

  .layer {
    &.bg-layer {
      .half {
        &:first-child {
          background:  rgba(0,0,0,.11);
          &:before{
            content: '';
            display: block;
            @extend .fill-parent;
            left: -2%;
            top: -3%;
            background: url('assets/images/textures/2a.png') no-repeat center;
            background-size: cover;
            opacity: .5;
          }
        }

        &:last-child {
          background:  rgba(0,0,0,.1);
        }
      }
    }

    &.model-layer {
      position: absolute;
      top: -10%;
      width: 110%;
      left: -5%;
      background: url('assets/images/textures/fullTriangle.png') no-repeat center;
      background-size: cover;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }

    &.copy-layer {

    }
  }

  .lineup-container {
    &:after {
      background: black;
    }// after
  }

  .artist{
    &:hover {
      .label { background: white; }
    }
  }


  .ep-lineup {
    color: black;
  }

}