.poster.halfCircle {

  $pattern: 'assets/images/textures/texture2.png';

  .poster-pattern {
    background-image: url(#{$pattern});
  }

  .layer {
    &.bg-layer {
      .half {
        &:first-child {
//          background: url('assets/images/textures/texture1.jpg') no-repeat center / cover;
          &:before {
            content: '';
            display: block;
            @extend .fill-parent;
            left: -2%;
            background:  url(#{$pattern}) no-repeat center;
            background-size: cover;
            opacity: .6;
          }// before
        }// first-child

        &:last-child {
          background:  url('assets/images/textures/1b.jpg') no-repeat center;
          background-size: cover;
          opacity: .13;
        }// .last-child
      }// .half
    }// .bg-layer

    &.model-layer {
      position: absolute;
      top:10%;
      width: 92%;
      left: 4%;
    }// .model-layer

    &.copy-layer {
      .half {
        &:last-child{
          &:after{ background: black; }
        }
      }
    }// .copy-layer
  }// .layer

  .ep-headline { color: black;}
  .ep-date { color: white;}
  .ep-lineup { color: black;}

  .artist{
    &:hover {
      color:black;
      .label { background: white; }
    }
  }// .artist

  .btn-play-episode {
    background: white;
    color: black;
    &:hover {
      background: #f0f0f0;
    }
  }

}// .poster