.poster.pentagon {

  $pattern: 'assets/images/textures/texture-stitch.png';

  .poster-pattern {
    background-image: url(#{$pattern});
  }

  .layer {
    &.bg-layer {
      .half {
        &:first-child {
          background: rgba(0,0,0,.13);
          &:before{
            content: '';
            display: block;
            @extend .fill-parent;
            left: -2%;
            top: -2%;
            background:  url(#{$pattern}) no-repeat center;
            background-size:cover;
          }
        }

        &:last-child {
          opacity: .9;
          background:  url('assets/images/textures/1b.jpg') no-repeat center;
          background-size:cover;
        }// last-child
      }// half
    }// bg-layer

    &.model-layer {
      position: absolute;
      top: 10%;
      width: 65%;
      left: 32%;

    }// .model-layer
  }// .layer

  .artist{
    &:hover {
      .label { background: black; }
    }// hover
  }// artist

  .btn-play-episode {
    background: white;
    color: black;
    &:hover {
      background: #f0f0f0;
    }// hover
  }// btn-play

}// .poster