.poster.verticalRect {

  $pattern: 'assets/images/textures/texture-stitch.png';

  .poster-pattern {
    background-image: url(#{$pattern});
  }

  .layer {
    &.bg-layer {
      .half {
        &:first-child {
//          background: url('assets/images/textures/texture1.jpg') no-repeat center / cover;
          &:before{
            content: '';
            display: block;
            @extend .fill-parent;
            left: -2%;
            background:  url(#{$pattern}) no-repeat center;
            background-size:cover;
          }
        }

        &:last-child {
          opacity: .98;
          background:  url('assets/images/textures/1b.jpg') no-repeat center;
          background-size:cover;
        }
      }
    }

    &.model-layer {
      position: absolute;
      top: 10%;
      width: 45%;
      left: 40%;
      overflow: hidden;

      &:before {padding-top: 170%;}
    }// .model-layer
  }// .layer

  .ep-headline { color: black;}

  .artist{
    &:hover {
      color:black;
      .label { background: white; }
    }
  }

  .btn-play-episode {
    background: white;
    color: black;
    &:hover {
      background: #f0f0f0;
    }
  }

}// .poster