.cta-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
  @include transform(translate3d(0,0,0));
  @include shadow(0 0 3px rgba(0, 0, 0, 0.3));

  &.plain {@include shadow(none);}
}// .cta-container

.cta {
  display: block;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;

  font-family: $gotham;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: get_relative_units(20);
  line-height: get_relative_units(20);
  letter-spacing: 0.1em;

  background-color: black;
  color: white;
  @include svg-content() {fill: white;}

  .icon {
    display: inline-block;
    margin-right: $ctaPadd;
  }// .icon

  svg, img {
    display: block;
    width: 1vw;
    height: .7vw;
    overflow: visible;
  }// svg

  .filler {
    @include flexbox(inline);
    @include flex-value(direction, row);
    padding: $ctaPadd;
  }// .filler

  &.hover-cta {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: white;
    color: black;
//    @include prefixed(transition, $shortTrans);
    @include svg-content() {fill: black;}
  }// .cta-hover

  .negative & {
    background-color: white;
    color: black;
    @include svg-content() {fill: black;}

    &.hover-cta {
      background-color: black;
      color: white;
      @include svg-content() {fill: white;}
    }// .cta-hover
  }// .negative &

  .plain & {
    @include flexbox(inline);
    background: none;
    color: black;
    @include svg-content() {fill: black;}

    .filler {padding: 0;}
  }// .plain

  .icon-browser &, .icon-icon-load &, .icon-icon-arrow & {
    svg {
      width: 1.43vw;
      height: 1vw;
    }
    line-height: 1vw;
  }

  .icon-icon-arrow & {
    @include svg-content() {
      fill: none;
      stroke: white;
    }

    &.hover-cta {
      @include svg-content() {
        fill: none;
        stroke: black;
      }
    }
  }

  .icon-icon-arrow.negative & {
    @include svg-content() {
      fill: none;
      stroke: black;
    }

    &.hover-cta {
      @include svg-content() {
        fill: none;
        stroke: white;
      }
    }
  }

  .no-label & {
    .icon {
      margin-right: 0;
    }
  }

  @include breakpoint(mobile) {
    white-space: normal;
    font-size: 10px;
    line-height: 100%;

    svg, img {
      width: 14px;
      height: 10px;//get_relative_units(45);
    }// svg

    .icon {
      margin-right: $ctaPaddMobile;
    }

    .filler {
      padding: $ctaPaddMobile;
    }// .filler

    &.hover-cta { display: none; }

    .icon-browser &, .icon-icon-load &, .icon-icon-arrow & {
      svg {
        width: 19px;
        height: 13px;
      }
      line-height: 13px;
    }// .load-clips

  }// BP MOBILE

}// .cta