$gotham: "Gotham A", "Gotham B";

$BPMOBILE: 750;

$wrapperMaxWidth: 1150px;


$contentWidth: 75vw;
$sectionMarginBottom: get_relative_units(300);//25vH;
$sectionMarginBottomMobile: 10vH;

$shortTrans: .3s;
$medTrans: .6s;
$longTrans: .9s;
$customExpoOut: cubic-bezier(0.19, 1, 0.22, 1);

$posterVertMargin: 8vw;

$MOBILE_MARGIN: 12px;
$MOBILE_WIDTH: calc(~"100vw - #{2*$MOBILE_MARGIN}");


$logoW: 62px;//get_relative_units(125);
$logoH: 55px;//get_relative_units(110);
$logoOffset: 2vw;


$ctaPadd: 1.4vw;// 1.8vw 1.3vw 4vw;
$ctaPaddMobile: 24px;