// Book
// font-family: "Gotham A", "Gotham B";
// font-style: normal;
// font-weight: 400;
// Book Italic
// font-family: "Gotham A", "Gotham B";
// font-style: italic;
// font-weight: 400;
// Medium
// font-family: "Gotham A", "Gotham B";
// font-style: normal;
// font-weight: 500;
// Medium Italic
// font-family: "Gotham A", "Gotham B";
// font-style: italic;
// font-weight: 500;
// Bold
// font-family: "Gotham A", "Gotham B";
// font-style: normal;
// font-weight: 700;
// Bold Italic
// font-family: "Gotham A", "Gotham B";
// font-style: italic;
// font-weight: 700;

@font-face {
  font-family: "United Sans";
  src: url("assets/fonts/UnitedSansCdBd.eot");
  src: url("assets/fonts/UnitedSansCdBd.eot?#iefix") format("embedded-opentype"),
  url("assets/fonts/UnitedSansCdBd.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}