.l-headline {
  font-family: "United Sans", script;
  text-transform: uppercase;
  @include relative_units(font-size, 312);
  @include relative_units(line-height, 312);
  letter-spacing: .06em;

  @include breakpoint(mobile) {
    font-size: 73px;
    line-height: 73px;
  }// BP MOBILE
}// .l-headline

.l-pre, .l-sub {
  font-family: "United Sans", script;
  text-transform: uppercase;
  @include relative_units(font-size, 60);
  @include relative_units(line-height, 60);
  letter-spacing: .1em;
}

.m-headline {
  font-family: "United Sans", script;
  text-transform: uppercase;
  @include relative_units(font-size, 208);
  @include relative_units(line-height, 208);
  letter-spacing: .08em;

  @include breakpoint(mobile) {
    font-size: 48px;
    line-height: 48px;
  }// BP MOBILE
}// .l-headline

.m-pre, .m-sub {
  font-family: $gotham;
  font-weight: 300;
  text-transform: uppercase;
  @include relative_units(font-size, 28);
  @include relative_units(line-height, 28);
  letter-spacing: .1em;
}

.s-headline {
  font-family: "United Sans", script;
  text-transform: uppercase;
  @include relative_units(font-size, 104);
  @include relative_units(line-height, 104);
  letter-spacing: .08em;

  .s-sub {
    width: 100%;
    text-align: right;
    @include relative_units(margin-left, 40);
  }

  @include breakpoint(mobile) {
    font-size: 35px;
    line-height: 35px;
  }// BP MOBILE

}// .l-headline

.s-pre, .s-sub {
  font-family: $gotham;
  font-weight: 500;
  text-transform: uppercase;
  @include relative_units(font-size, 28);
  @include relative_units(line-height, 28);
  letter-spacing: .06em;
}

.copy {
  font-family: $gotham;
  font-weight: 500;
  @include relative_units(font-size, 28);
  @include relative_units(line-height, 50);
  letter-spacing: .04em;
}

.video-label {
  font-family: "United Sans", script;
  @include relative_units(font-size, 38);
  @include relative_units(line-height, 38);
  letter-spacing: .08em;
}

.medium { font-weight: 500; }

p {
  @include breakpoint(mobile) {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .04em;
  }// BP MOBILE
}// p