.post-landing {
  @include landing;
  height: 80vh;
  @include flexbox();
  @include prefixed(justify-content, center);
  @include prefixed(align-items, center);
  h1 {
    position: relative;
    margin: 0;
//    font-size: 7vw;
//    letter-spacing: 0.5vw;
  }

  .cta-container {
    position: absolute;
    bottom: -3vh;
    right: 20vw;
  }// .cta-container

}// .post-landing


.post-content {
  width: 70vw;
  max-width: 800px;
  margin: $sectionMarginBottom auto;
  font-size: 1vw;
  p {
    line-height: 1.75em;
    margin-bottom: 2.5vh;
  }
}

.post-pagination {
  width: 80vw;
  max-width: 900px;
  margin: 0 auto $sectionMarginBottom auto;

  .cta-container {
    position: absolute;
    bottom: -4%;
  }

  .s-headline {
    font-size: get_relative_units(38);
    font-weight: bold;
  }

  .post-title {margin: auto;}

  .col {
    position: relative;
    width: 47%;
    margin: auto;

    .img {
      position: relative;
      color: white;
    }

    &.prev {
      margin-left: 0;

      .cta-container {
        left: 5%;

        svg {
          @include transform(rotate(180deg));
        }
      }// .cta-container
    }// prev

    &.next {
      margin-right: 0;

      .cta-container {
        right: 5%;
      }// .cta-container

      .pagination-label {
        text-align: right;
      }
    }// next
  }// .col

  @include breakpoint(mobile) {

    width: $MOBILE_WIDTH;
    margin-bottom: $sectionMarginBottomMobile;

    .s-headline {
      font-size: 24px;
    }

    .post-title {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
    }// .post-title

    .flex-cols {
      display: block;
    }// .flex.cols

    .col {
      width: 100%;

      &.next {
        margin-top: 40px;
      }
    }// .col

  }// BP MOBILE

}// section.post-pagination