.post-landing {
  @include landing;
  height: 80vh;
  @include flexbox();
  @include prefixed(justify-content, center);
  @include prefixed(align-items, center);
  h1 {
    position: relative;
    margin: 0;
//    font-size: 7vw;
//    letter-spacing: 0.5vw;
  }
}

.post-landing-cta {
  @include cta(#000, #fff);
  position: absolute;
  bottom: -3vh;
  right: 20vw;
}

.post-content {
  width: 80vw;
  max-width: 800px;
  margin: 20vh auto;
  font-size: 1vw;
  p {
    line-height: 1.75em;
    margin-bottom: 2.5vh;
  }
}