.landing.episodes-landing {

  .landing-container {
    width: 52vw;
    position: relative;
  }

  .landing-head {
    position: relative;
  }

  .small {
    font-size: get_relative_units(82);
    line-height: 2vw;
    top: 100%;
    right: 0;
    text-align: right;
  }

  .cta-container {
    position: relative;
    z-index: 1;
    margin: 0 0 0 5%;
    @include shadow(0 0 5vw rgba(0,0,0,.3));

    $size: get_relative_units(25);
    .cta {
      font-size: $size;
      line-height: $size;
    }
    .filler {
      padding: get_relative_units(52) get_relative_units(55);
    }

    svg {
      width: $size;
      height: $size;
    }
  }// .cta-play-episode

  .text-layer {
    position: absolute;
    top: 90%;
    left: 25%;
    width: 80%;
    color: #000000;

//    span {
//      font-family: $gotham;
//      font-size: 0.8vw;
//    }// p
//    p {
//      margin: 0;
//      letter-spacing: 0.3vw;
//      font-size: 2.1vw;
//    }// p
  }// .text-layer

  .sharebox {
    margin: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-2.25vw);

    .label {
      color: white;
      margin-top: 1.25vw;
    }
  }

  @include breakpoint(mobile) {

    .landing-container {
      @include flexbox();
      @include flex-value(direction, column);
      padding: 0 $MOBILE_MARGIN;
      width: 100%;
    }

    .landing-head {
      position: static;
      width: 100%;
      margin: auto 0 0 0;
      text-align: center;
      white-space: normal;
      @include transform(none);

      //h1 {text-align: center;}

      .small {display: none;}
    }

    .text-layer {
      position: relative;
      top:0;
      left:0;
      width: 100%;
      margin: 0 auto auto auto;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: .02em;
      padding: 8vh 40px;
    }

    .cta-container {
      margin: 0 0 auto auto;
      @include transform(translateY(50%));

      $size: 11px;
      .cta {
        font-size: $size;
        line-height: $size;
      }// .cta
      .filler {
        padding: 25px;
      }// .filler

      svg {
        width: $size;
        height: $size;
      }// svg
    }// .cta-container

    .sharebox {
      @include transform(translateY(-19px));

      .label {
        font-size: 10px;
        line-height: 100%;
//          letter-spacing: .06em;
      }
    }// .sharebox

  }// BP MOBILE
}// .episodes-landing

.cta-play-episode {
  $size : get_relative_units(178);
  $padd: get_relative_units(80);
//  @include cta(black, white);
  font-family: $gotham;
  line-height: $size;
  font-size: get_relative_units(32);
  letter-spacing: .1em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 $padd 0 calc(~"#{$size} + #{$padd}");
  display: inline-block;
  background: black;
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    width: $size;
    height: $size;
    background: white url('assets/images/icon-play.svg') no-repeat center center;
    background-size: 13%;
  }// before

}// .play-episode

.image-slider.episode-gallery {

  @include breakpoint(mobile) {

    .slider-ui {
      position: relative;

      @include transform(translateY(-10%));

      .slider-arrows {
        position: static;
      }// .slider-arrow
    }// .slider-ui

  }// BP MOBILE

}// .episode-gallery