#fieldTracker {
  position: fixed;
  z-index: 1;
  pointer-events: none;
  @include autoAlpha(0);
  @include prefixed(transition, (opacity $shortTrans, visibility $shortTrans));

  &.active {
    @include autoAlpha(1);
  }

  @include breakpoint(mobile) { display: none; }

}// #fieldTracker