#fieldTracker {
  $size:50px;

  position: fixed;
  z-index: 8;
  top: 2vw;// pos like burger
  right: 2vw;// pos like burger
  cursor: pointer;
  //pointer-events: none;
  @include autoAlpha(0);
  //@include transform(translateX(-50%) translateY(-50%));
  @include prefixed(transition, (opacity $shortTrans, visibility $shortTrans));

  .hover-on & {
    @include autoAlpha(1);
  }

  svg {
    width: $size;
    height:$size;
  }// svg

  @include breakpoint(mobile) { display: none; }

}// #fieldTracker