.landing.show-landing {
  //@include landing();
  //@include flexbox();
//  margin-bottom: $sectionMarginBottom;

  .landing-container {
    text-align: center;

    h1, .show-landing-info {
      position: relative;
    }// .show-landing-info

    h1 {
      display: inline-block;
      text-align: left;

      .small {
        //font-size: 1.875vw;
        //line-height: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: 100%;
      }// .small
    }// h1

    //.rectangle {
    //  position: absolute;
    //  background: rgba(0,0,0,.4);
    //  top: 18%;
    //  left: 12%;
    //  width: 76%;
    //  height: get_relative_units(480);
    //}

  }// .landing-container

  .show-landing-info {
    text-align: left;
    padding: get_relative_units(150);
    background: white;
    color: black;
    width: 40%;
    margin: 1vw auto auto 38%;

    font-family: $gotham;
    @include relative_units(font-size, 28);
    @include relative_units(line-height, 50);
    letter-spacing: .04em;
    text-transform: none;
  }// .show-landing-info

  @include breakpoint(mobile) {

    .landing-container {

      width: $MOBILE_WIDTH;

      h1 {
        .show-landing-subline {font-size: 15px;}
      }// h1

      .show-landing-info {
        width: 100%;
        margin: 40px auto;
        font-size: 14px;
        line-height: 22px;
      }// .show-landing-info

      //.rectangle { height: 35vw; }

      //.lefted {
      //  text-align: center;
      //  .watch-latest-cta {margin: auto;}
      //}
    }// .landing-container

  }// BP MOBILE
}// .show-landing

.site-content.the-show {
  .video-gallery {
    padding: 0;
    margin-top: 15vw;
  }
}

.history-slider {
  padding: $sectionMarginBottom 0 0 0;
  position: relative;
  width: 100%;

  .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    background: white;
    z-index: -1;
  }

  .section-head {
    max-width: 70%;
    margin: auto;
  }

  .excerpt-head {
    padding: 0;
  }

  .excerpt-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .slider-images {
    height: 37.5vw;

    .image {
      width: 100%;
      right: -33.33%;//-12.5vw; // horizontal vws are problematic in ie 10 -> so have to use % where possible
    }
  }// .slider-images

  .slider-ui {
    //    width: auto;
    //    height: auto;
    //    top: 50%;
    //    left: 90%;
    //    white-space: nowrap;
    //    @include transform(translateY(-50%));

    .slider-label.onlymobile {@include transform(none);}

    .slider-label {
      color: white;
      top: 108%;
      left: auto;
      right: 26%;
    }// .slider-label

    .slider-arrows {
      top: 100%;
      left: auto;
      right: -12.5vw;
    }// .slider-arrows
  }// .slider-ui

  .text-layer {
    position: absolute;
    width: 50%;
    top: auto;
    bottom: -10%;
    left: -10vw;
    margin: 0;
    padding-right: 7vw;

    background: black;
    color: white;

    .slider-ui .slider-label {
      top: 50%;
      left: 100%;
      right: auto;
      @include transform(translateX(-50%) translateY(-50%));
    }// .slider-label
  }// .text-layer

  .gallery-copy {
    height: 12vw;
  }

  @include breakpoint(mobile) {
    padding-top: $sectionMarginBottomMobile;

    .text-layer { position: static; }

    .slider-images {
      height: auto;

      .current-image {
        position: static;
        display: block;
        height: 60vw;
      }
    }// .slider-image

    .slider-ui {
      position: relative;
      height: auto;
      margin: 3vw 0;
      @include transform(none);

      .slider-arrows {
        position: relative;
        top:0;
        left:0;
        right: 0;
        bottom:0;
        z-index: 1;
        @include transform(none);
      }// .slider-arrows
//
      .slider-label {
        position: absolute;
        color: black;
        text-align: center;
        top: 0;
        width: 100%;
        left: 0;
      }// .slider-label
    }// .slider-ui

    .gallery-copy {
      height: auto;
    }// .gallery-copy

  }// BP MOBILE

}// .history-slider

.sponsors {// section.sponsors
  margin: 0 auto $sectionMarginBottom auto;
  width: $contentWidth;

  .logos-container {
    margin-top: 2vw;
    @include flexbox();
    @include flex-value(direction, row);
    @include flex-value(wrap, wrap);
    @include prefixed(justify-content, center);

  }// .logos-container

  .sponsor {
    $margin: 2.5%;
    margin: 0 $margin $margin $margin;
    @include prefixed(align-self, center); // why not align-items:center on container? bc margin would prevent .sponsor from vertical centering

    .sponsor-logo {// img
      height: 7vw;
      width: auto;
    }// .sponsor-logo

  }// .sponsor

  @include breakpoint(mobile) {
    width: 100%;

    .section-head {margin:auto;}

    .logos-container {
      margin-top: 5vw;
      display: block;
      text-align: center;
      @include prefixed(column-count, 2);
    }// .logos-container

    .sponsor {
      $margin: 12%;
      margin: 0 $margin $margin $margin;
      display: block;

      .sponsor-logo {// img
        height: 20vw;
      }// .sponsor-logo

    }// .sponsor
  }// BP MOBILE

}// .sponsors