.clip-landing {
  @include landing();
  @include flexbox();
  @extend .imgfill;

  .landing-container {
    margin: auto;
  }

  .landing-head {
    @extend .l-headline;
    max-width: 85vw;
    text-align: center;
    .small {
      @extend .s-headline;
      text-align: right;
      padding-right: 10%;
    }// .small
  }// .landing-head

}// .clip-landing

.site-content.clip-detail {

  .overlap-container {
    margin-bottom:$sectionMarginBottom;
  }

  @include breakpoint(mobile) {

    .overlap-container {
      margin-bottom: $sectionMarginBottomMobile;
    }
  }// BP MOBILE
}

.video-gallery.video-detail-clips {
  margin: 0 auto;
  padding-top: $sectionMarginBottom;

//  .load-from-episode {
//    position: relative;
//    top:0;
//    left:0;
//    @include transform(none);
//  }

  &.related-episode-clips {
//    margin-bottom: 0;
    .cta-container {z-index: 1;}
  }// .related-episode-clips

  &.related-category-clips {
//    margin-top:0;
//    margin-bottom:0
  }// .related-category-clips

  .section-head {
    position: relative;
  }

}// section.video-gallery

.linked-episode {
  margin-top: $sectionMarginBottom;
}

.clip-container {
  width: $contentWidth;
  margin: auto;

  .text-layer {
    width: 60%;
    margin-left: 28%;

    .sharebox {
      margin: 0;
      position: absolute;
      top: 98%;
    }
  }
}

.clip-preview-container {
  width: 100%;
  background: url('assets/images/clip.jpg') no-repeat center;
  background-size: cover;
  @include shadow(0 0 15px 5px rgba(0, 0, 0, 0.2));
  position: relative;
  overflow: hidden;


  &:before {
    content: '';
    display: block;
    padding-top: 58%;
    //@include preloader();
    background-size: 3%;
  }

  >*{ position: absolute;}

  video {
    cursor: pointer;
//    width: 105%;
//    top: 50%;
//    left: 50%;
//    @include transform(translateX(-50%) translateY(-50%));
  }
}

.overlap-container {
  position: relative;
  margin-top: -15vw;
//  margin-bottom: -10vw;
}

.vert-spacer {
  margin-top: $sectionMarginBottom;
}