.device-slider {

  .excerpt-head {
    padding: 0;
  }

  .text-layer {
    position: absolute;
    top: 30%;
    margin-left: 50%;
    width: 50%;
//    left: 45%;
//    width: 55%;
//    @include shadow(0 0 10px rgba(0, 0, 0, 0.1));
//    @include transform(translateY(-50%));
  }
  .slider-ui {

    .slider-label {
      top: 100%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
    }// .slider-label
    .slider-arrows {
      top: 105%;
    }// .slider-arrows
  }// .slider-ui

  @include breakpoint(mobile) {

    .text-layer { position: static; }

    .slider-ui {
      position: relative;
      transform: none;
      margin: 20px auto;
      .slider-arrows {position: static;}
      .slider-label {
        top: 50%;
        left: 50%;
      }// .slider-label
    }// .slider-ui
  }// BP MOBILE

}// .device-slider

.device {
  position: relative;

  .device-image {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }

  .device-screen {
    position: absolute;
  }

  &.ipad {

    width: 60%;

    .device-screen {
      background: rgba(255,255,255,.3);
      border-radius: 2px;
      top: 6.2%;
      right: 9%;
      bottom: 6.2%;
      left: 8.6%;
      overflow: hidden;
    }
  }// .ipad

  @include breakpoint(mobile) {

    &.ipad {

      width: 90%;
      margin: 0 auto;

//      .device-screen {
//        background: rgba(255,255,255,.3);
//        border-radius: 2px;
//        top: 6.2%;
//        right: 9%;
//        bottom: 6.2%;
//        left: 8.6%;
//        overflow: hidden;
//      }

      .device-screen {
        display: block;// need to override display none on excerpt-image mobile
      }// .device-screen
    }// .ipad

  }

}// .device