%icon {
  background-size: 1.5vw;
  background-repeat: no-repeat;
  background-position: 1.5vw 50%;
}

.icon-eye {
  @extend %icon;
//  background-image: url('assets/images/eye.svg');
//
//  &.eye-black {background-image: url('assets/images/eye-black.svg');}
}

.icon-browser {
  @extend %icon;
  background-image: url('assets/images/browser.svg');
}
.icon-browser-white {
  @extend %icon;
  background-image: url('assets/images/browser_white.svg');
}

.icon-arrow {
  @extend %icon;
  background-image: url('assets/images/icon-arrow.svg');
}

.icon-arrow-reverse {
  @extend %icon;
  background-image: url('assets/images/icon-arrow-reverse.svg');
}

.icon-refresh {
  @extend %icon;
  background-image: url('assets/images/icon-load.svg');
}
