.landing {
  @include flexbox();
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-family: "United Sans", script;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  text-transform: uppercase;
  background: black;
  //  z-index: 1;

  .rectangle {// on page clips overview, the show, the host
    position: absolute;
    top: 5vw;
    left: 50%;
    width: 50%;
    height: 10vw;
    background: black;
    mix-blend-mode: multiply;
    opacity: 0.20;
    @include transform(translateX(-50%));
  }// .rectangle

  .landing-bg {
    display: block;
    pointer-events: none;
    @extend .fill-parent;
    @extend .imgfill;
    //background-attachment: fixed;
  }// .landing-bg

  h1 {
    position: relative;
  }
  .small {
    font-size: 2vw;
    line-height: 100%;
    letter-spacing: .1em;
  }

  .landing-container {
    margin: auto;
    margin-top: 28vh;
    display: inline-block;
    position: relative;
    max-width: 100%;
  }// .landing-container

  @include breakpoint(mobile) {

    height:auto;
    min-height: 100vh;

    .landing-bg {
      background-attachment: scroll;;
    }// .landing-bg

    .landing-container {
      width: $MOBILE_WIDTH;
      margin-top: auto;
    }

    h1 {
      .small {
        font-size: 22px;
        letter-spacing: .1em;
      }// .small
    }

  }// BP MOBILE

}// .landing