.landing {
  @include flexbox();
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: "United Sans", script;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  text-transform: uppercase;
  //  z-index: 1;

  .landing-bg {
    display: block;
    pointer-events: none;
    @extend .fill-parent;
    @extend .imgfill;
        background-attachment: fixed;

  }// .landing-bg

  .landing-container {
    margin: auto;
    margin-top: 25vh;
    display: inline-block;
    position: relative;
  }// .landing-container

}// .landing