.landing {
  @include flexbox();
  position: relative;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: "United Sans", script;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  text-transform: uppercase;
  //  z-index: 1;

  .rectangle {// on page clips overview, the show, the host
    position: absolute;
    top: 36%;
    left: 25vw;
    width: 50vw;
    height: 16.5vh;
    background: black;
    mix-blend-mode: multiply;
    opacity: 0.45;
  }// .rectangle

  .landing-bg {
    display: block;
    pointer-events: none;
    @extend .fill-parent;
    @extend .imgfill;
        background-attachment: fixed;
  }// .landing-bg

  h1 {
    .small {
      font-size: 2vw;
      line-height: 100%;
      letter-spacing: .1em;
    }
  }

  .landing-container {
    margin: auto;
    margin-top: 28vh;
    display: inline-block;
    position: relative;
  }// .landing-container

  @include breakpoint(mobile) {

    height:auto;
    min-height: 100vh;

    .landing-bg {
      background-attachment: scroll;;
    }// .landing-bg

    .landing-container {
      width: $MOBILE_WIDTH;
    }

    h1 {
      .small {
        font-size: 22px;
        letter-spacing: .1em;
      }// .small
    }

  }// BP MOBILE

}// .landing