.nav-overlay {
  color: #ffffff;
  position: fixed;
  width: 100vw;
  height:100vh;
  @extend .imgfill;

  .table {
    height: 100%;
  }

  .cell { @include flexbox(); }

  .overlay-menu {
    width: 40vw;
  }

  .menu-item {
    position: relative;
    @extend .icon-arrow;
    background-position-x: 0;
    background-repeat: no-repeat;
    line-height: 100%;
    padding-left: 3vw;
    @extend .s-headline;
    letter-spacing: .1em;
    @include relative_units(margin-bottom, 130);

    .description {
      font-family: $gotham;
      font-weight: 400;
      @include relative_units(font-size, 20);
      letter-spacing: .1em;

      display: inline-block;
      line-height: 140%;
      width: 20vw;
      vertical-align: top;
      margin-top: 2.5%;
    }// .description

    &:last-child {
      background: none;
      margin-bottom: 0;
      line-height: 0;
    }// last-child

  }// .menu-item
  
  @include breakpoint(mobile) {

    .shortcuts {display: none;}

    .menu-container {
      width: $MOBILE_WIDTH;
      margin: auto 0;
    }// .menu-container

    .overlay-menu {
      width: 100%;
    }// .overlay-menu

    .menu-item {
      font-size: 36px;
      line-height: 27px;
      padding-left: 70px;
      background-size: 36px;
      background-position-x: 0;
      margin-bottom: 8vh;

      .description {display: none;}

      .search-icon {
        width: 32px;
        height: 32px;
        background-size: contain;
      }// .search-icon
    }// .menu-item

    .input-container {
      width: 80%;

      .clear-field {
        position: absolute;
        top: 0;
        right: 0;

        svg, img {
          width: 10px;
          height: 10px;
        }
        @include svg-content() {fill: white;}
      }// .clear-field
    }// .input-container

    .search-field {
      font-size: 16px;
      letter-spacing: .02em;
    }

  }// BP MOBILE

}// .nav-overlay

.shortcuts {
  @include flexbox(inline);
  @include flex-value(direction, column);
//  @include relative_units(width, 260);
  @include relative_units(margin-left, 300);

  .label {
    font-family: $gotham;
    @include relative_units(font-size, 20);
    letter-spacing: .12em;
    text-transform: uppercase;
    @include relative_units(margin-top, 24);
  }

  .quick-videos {
    @include flex-value(grow, 1);
  }

  .video {
    position: relative;

    .imgfill {background-blend-mode: screen;}

    &.last-episode {
      .imgfill {background-color: cyan};
    }

    &.teaser {
      @include relative_units(margin-top, 110);
      .imgfill {background-color: magenta};
    }

    .title {
      @extend .s-headline;
      @include relative_units(font-size, 40);
      @include relative_units(line-height, 44);
      letter-spacing: .06em;
      color: #000000;

      position: absolute;
      top: 47%;
      left: 5%;
      width: 90%;
      text-align: center;
      @include transform(translateY(-50%));

      svg {
        display: inline-block;
        @include relative_units(width, 40);
        @include relative_units(height, 55);
      }
    }// .title
  }

  .social-container {
    .square-btn {
      @include flexbox(inline);
      @include relative_units(width, 97);
      @include relative_units(height, 97);
      @include relative_units(margin-left, 40);
      padding: 0;
      &:first-child{margin-left: 0;}

      svg, img {margin: auto}
      &.instagram {
        svg, img {
          @include relative_units(width, 30);
          @include relative_units(height, 30);
        }
      }// .instagram

      &.facebook {
        svg, img {
          @include relative_units(width, 15);
          @include relative_units(height, 30);
        }
      }// .facebook

      &.twitter {
        svg, img {
          @include relative_units(width, 34);
          @include relative_units(height, 30);
        }
      }// .twitter
    }// .square-btn
  }// .social-container

}// .shortcuts

.square-btn {
  background: white;
  @include relative_units(padding, 34);

  svg, img {
    @include relative_units(width, 34);
    @include relative_units(height, 34);
  }

  @include svg-content() {fill:black;}
}

.search {
  position: relative;
//  top: get_relative_units(-5);

  .search-icon, .searchfield-container {
    display: inline-block;
    vertical-align: bottom;
  }// .searchfield-container

  .search-icon {
    cursor: pointer;
    margin-right: 1.4vw;

    svg {
      height: 1.4vw;
      width: 1.4vw;
    }
  }// .search-icon

  .searchfield-container {
    position: relative;
    width: 0;
    overflow: hidden;
    padding-bottom: 1px;// necessary not to hide input bottom-border
    @include transform(translateY(-3px));
    @include prefixed(transition, width $shortTrans);
  }// .searchfield-container

  .search-field {
    color: white;
    padding: 0;
    padding-bottom: get_relative_units(7);
    border-bottom: 1px solid white;
    width: 100%;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    white;
      opacity:  1;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    white;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    white;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    white;
    }
    &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
      color:    white;
    }
  }// .search-field

  .clear-icon {
    position: absolute;
    top: 50%;
    right: 0;
    @include transform(scaleX(-1) translateY(-50%));

    svg, img {
      @include relative_units(width, 18);
      @include relative_units(height, 18);
    }
    @include svg-content() {fill: white;}
  }// .clear-field

  &.on {
    .searchfield-container {
      width: 10vw;
    }
  }// &.on

}// .input-container