$posterWidth: 84vw;
.posters {
  width: 100%;
  margin: 0 auto;
  padding: 0 #{(100 - $posterWidth)/2};// padding, not margin:auto necessary b/c hover-fx bg image fixed
  margin-bottom: $sectionMarginBottom;

  &.scroll-posters {
//    margin-top: 12vw;
    padding-top: 3vw;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }// .scroll-posters

  .posters-hover-bg {
    position: fixed;
    top: -1%;
    left: -1%;
    width: 102%;
    height: 102%;
    @extend .imgfill;
    @include autoAlpha(0);
    @include prefixed(transition, $shortTrans);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  }// .posters-hover-container

  .poster {
    margin: $posterVertMargin auto 0 auto;
    max-width: 1350px;
  }// .poster

  &.hover-on {
    //* {cursor: none;}
    .posters-hover-bg {
      @include autoAlpha(1);
    }

    .poster:not(.hover-on) {
      @include autoAlpha(0);
    }
  }

  @include breakpoint(mobile) {
    width: $MOBILE_WIDTH;
    padding: 0;
    margin-bottom: $sectionMarginBottomMobile;

    &.scroll-posters {
//      margin-top: 85px;
      margin-top: 0;
      padding-top: 30px;
    }// .scroll-posters
  }// BP MOBILE
}// .posters

.poster {
  $posterPadding:get_relative_units(150);
  display: block;
  background: url('assets/images/textures/paper.jpg') no-repeat center;
  background-size: cover;

  &.dummy {
    .hosted-logo {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;

      .episodes-previous & {
        padding: 1.5vw 0;
      }
    }// .hosted-logo
  }// .dummy

  video { position: absolute; }

  canvas {
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
  }

  .padded {
    padding: $posterPadding;
    box-sizing: border-box;
  }
//  padding: $padd $padd 0 $padd;

  position: relative;
  background-color: white;
//  overflow: hidden;
  @include shadow(0.01vw 0.01vw 3vw rgba(0, 0, 0, 0.2));//(.1vw .2vw 5vw rgba(0,0,0,.1));


  &:before {
    content: '';
    display: block;
    padding-top: 133.33%
  }

  .poster-content {
    @extend .fill-parent;
    @include flexbox();
    @include flex-value(direction, column);
    overflow: hidden;
  }// .poster-content

  .poster-part, .layer {
    @include prefixed(transition, (opacity $shortTrans, visibility $shortTrans));
  }

  .poster-part {
    &.content {
      @include flex-value(grow, 1);
      position: relative;
    }
  }

  .layer {

    &.bg-layer, &.copy-layer {
      @include flexbox();
      @include flex-value(direction, column);
      @extend .fill-parent;
      padding-bottom: 0;
    }

    &.bg-layer {
      .half {
        position: relative;
//        opacity: .4;
//        background-blend-mode: multiply;
        @extend .imgfill;

      }
    }// bg.layer



    &.hover-layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include autoAlpha(0);
//      @include prefixed(transition, $shortTrans);

      -webkit-backface-visibility: hidden;
      -moz-backface-visibility:    hidden;
      -ms-backface-visibility:     hidden;
    }// .hover-layer

    &.model-layer {
      width: 100%;
      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
      svg {
        width: 0;
        height: 0;
      }// thats only clips/masks & gradientmaps
    }// .model-layer
    &.copy-layer {
      z-index: 1;
      color: white;
    }// .copy-layer

    .half {
      height: 50%;
      @include prefixed(transition, (opacity $shortTrans, visiblity $shortTrans));
    }
  }// .layer

  .lineup-container {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: calc(~"#{$posterPadding} / 2");
      left: $posterPadding;
      width: calc(~"100% - #{$posterPadding/.5}");
      height: 0.5vw;
      background: white;
      @include prefixed(transition, $shortTrans);
    }// after
  }

  .ep-headline {
    margin-top: get_relative_units(150);
    line-height: get_relative_units(270);
    color: white;
  }
  .ep-date {
    color: black;
  }
  .ep-subheadline {
    display: none;
    @include prefixed(transition, (opacity $shortTrans));
  }
  .ep-lineup {
    text-align:left;// justify;
    position: relative;
    //word-break: break-all;

    > * { @include prefixed(transition, (opacity $shortTrans, color $shortTrans)); }

    .divider {
      display: inline-block;
//      width: 0;
      pointer-events: none;
      position: relative;
      z-index: 1;
      padding: 0 1.3vw;
    }

    .artist {
      cursor: pointer;
//      padding: 0 3vw 0 5vw;
//      &:first-child { padding-left: 0;}
//      &:last-child { padding-right: 0;}

      //test
//      &:nth-child(3n) { background: rgba(255,100,100, .4); }
//      &:nth-child(3n+2) { background: rgba(80,255,0, .4); }
      //test

      &:before {
//        content: '';
        display: inline-block;
        padding-left: 1vw;
      }

      &:first-child:before { content: none; }

      .label {
        @include prefixed(transition, background $shortTrans);
      }

      .description {
        @include autoAlpha(0);
        display: block;
        position: absolute;
        max-width: 90%;
        left: 5%;

        font-size: get_relative_units(80);
        line-height: get_relative_units(80);
        letter-spacing: .04em;
        word-break: normal;
        text-align: left;
      }// .description

    }// .artist
  }// .ep-lineup

  .model-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    //@include texturizer();
  }// .model-container

  .icon {
    &.logo {
      svg {
        width: get_relative_units(580,vw, 3200);
        height: get_relative_units(315,vw, 3200);
      }
    }
    &.episode {
      position: absolute;
      top: 0;
      right: 0;
      svg {
        width: get_relative_units(295,vw, 3200);
        height: get_relative_units(250,vw, 3200);
      }

      @include svg-content() {
        fill: black;
      }

      .icon-label {
        @include united();
        position: absolute;
        top: .6vw;
        left: 0;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 2.8vw;
        letter-spacing: .08em;
      }// .icon-label
    }// .episode
  }// .icon

  .hosted-logo {
    display: block;
    padding: 3vw 0;

    svg {
      width: 30%;
      height: auto;
      margin: auto;
    }
    @include svg-content() {fill: black;}
  }

  .btn-play-episode {
    @include united();
    position: absolute;
    right: -2%;
    top: 35%;
    font-size: get_relative_units(74);
    letter-spacing: .1em;
    background: black;
    text-transform: uppercase;
    padding: get_relative_units(40) get_relative_units(70);
    color: white;
    z-index: 1;
    @include prefixed(transition, (background $shortTrans, opacity $shortTrans, visibility $shortTrans));

    &:hover {
      background: #2F2F2F;
    }

    &.scrolling {
      position: fixed;
    }

    .episodes-overview-item & { display: none; }
  }// .btn-play-episode

  //---------------------- POSTER HOVER FX

  &.hover-on {

    .layer {
      &.hover-layer { @include autoAlpha(1); }
      &.bg-layer { @include autoAlpha(0); }
      &.model-layer { @include autoAlpha(0); }
      &.copy-layer {
        .half{
          &:first-child { @include autoAlpha(0); }
          &:last-child {color: black;}
        }
      }
    }// .layer

    .ep-subheadline {@include autoAlpha(0);}

    .lineup-container {
      &:after {
        //background: black;
        @include autoAlpha(0);
      }
    }

    .ep-lineup {

//      color: black;

      .artist:hover {.label{background: none;}}

      > * {
        @include autoAlpha(.1);


        &.hovered {// the hovered artist
          @include autoAlpha(1);

          .description {
            @include autoAlpha(1);
          }
        }// .hovered
      }// all line-up children

    }// .ep-lineup

    .btn-play-episode {@include autoAlpha(0)}

  }// &.hover-on

  //---------------------- BREAKPOINT MOBILE

  @include breakpoint(overWrapper) {

    $posterPadding: 100px;

    .padded {
      padding: $posterPadding;
      padding-bottom: 138px;
    }

    .icon {
      &.logo {
        svg {
          width: 264px;
          height: 142px;
        }
      }
      &.episode {
        svg {
          width: 133px;
          height: 115px;
        }// svg

        .icon-label {
          top: 10px;
          font-size: 41px;
        }// .icon-label
      }// .episode
    }// .icon

    .ep-headline {
      margin-top: 65px;
      font-size: 200px;
      line-height: 200px;
    }// .ep-headline

    .ep-date {
      font-size: 105px;
      line-height: 105px;
    }

//      .ep-subheadline {
//        font-size: 25px;
//        line-height: 25px;
//      }

    .ep-lineup {
      font-size:104px;
      line-height: 104px;
      padding-top: 60px;

      .description {
        font-size:46px;
        line-height: 46px;
      }
    }// .ep-lineup

    .lineup-container {

      &:after {
        bottom: calc(~"#{$posterPadding} / 2");
        left: $posterPadding;
        width: calc(~"100% - #{$posterPadding/.5}");
        height: 0.2vw;
      }// after
    }// .lineup-container

  }// BP overWrappper

  //---------------------- BREAKPOINT MOBILE

  @include breakpoint(mobile) {
    .l-headline {
      font-size: get_relative_units(312);
      line-height: get_relative_units(312);
    }// .l-headline

    .m-headline {
      font-size: get_relative_units(252);
      line-height: get_relative_units(252);
    }// .l-headline

    .s-headline {
      font-size: get_relative_units(104);
      line-height: get_relative_units(104);
    }// .s-headline

  }// BP MOBILE

}// .poster

.poster-container {
  position:absolute;
  left:5vw;
  bottom: 5vw;
}// section .poster-container

.poster-content {
}// .poster-content

@import "posters/circle";
@import "posters/fullTriangle";