.post-excerpt {
  width: $contentWidth;
  margin-bottom: $sectionMarginBottom;
  margin-left: auto;
  margin-right: auto;

  .excerpt-container {
    padding: 4vh 0 11vh 0;
    box-sizing: border-box;
  }

  .text-layer {
    .cta-container {
      position: absolute;
      top: 100%;
      left:50%;
      @include transform(translateX(-50%) translateY(-50%));
    }
  }

  @include breakpoint(mobile) {
    width: $MOBILE_WIDTH;
    margin-bottom: 20vH;

    .image{ display:none; }

    .excerpt-container {
      padding: 0;

      .text-layer {
        width: 100%;
        margin: 0;
        padding: 50px 40px 70px 40px;

        p {
          margin-top: 40px;
          font-size: 14px;
          line-height: 25px;
          letter-spacing: .04em;
        }

        .cta-container {
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          max-width: 95%;
        }// .episodes-landing-cta

      }// .text-layer

      .excerpt-head {
        width: 100%;
        padding: 0;
        text-align: center;

        font-size: 52px;
        letter-spacing: .08em;
      }// .exccerpt-head
    }// .excerpt-container
  }// BP MOBILE
}// .post-excerpt

.excerpt-container {
  position: relative;

  .image {
    position: absolute;

    &.pattern {
      top: 22%;
      left: -5%;
      width:50%;
      height: 56%;
    }

    &.post-image {
      top: 0;
      left: 0;
      width: 60%;
      height:100%;
    }
  }// .image

  .excerpt-head {
    padding-left: 2.5vw;
    text-align: left;
    h2 {width: 100%;}
  }

  .excerpt-body {
    line-height: 1.4vw;
  }

  .text-layer {
    position: relative;
    @include shadow(0 0 10px rgba(0,0,0,.1));
    width: 55%;
    margin-left: 45%;

//    .cta-container {
//      top: 100%;
//      left: 19%;
//      @include transform(translateY(-50%));
//    }

    p { margin: 3.5vw 0 0 0; }
  }// .text-layer

}// .excerpt-container