#preloader {
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));

  .loading-bar {
    width: 10vw;
    height: 4px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    background: rgba(0,0,0,.1);

    .filler {
      @extend .fill-parent;
      width: 0;
      background: #161616;
    }
  }

}