.upcoming {
  text-transform: uppercase;
  margin-bottom: 14vw;//$sectionMarginBottom;
  position: relative;
  text-align: center;

  .homepage & {
    margin-top: #{$sectionMarginBottom - 10};
  }

  .upcoming-image {

    position: absolute;
    top:25%;
    left:25%;
    width: 30%;

  }// .upcoming-image

  .upcoming-cta {

    &.onlymobile {display: none;}

    position: absolute;
    top: 87%;// b/c prllx -> 100% if no prllx
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));

    .filler {
      padding-right: 3vw;
      padding-left: 3vw;
    }// .filler
  }// .upcoming-cta

  @include breakpoint(mobile) {
    text-align: center;
    margin-bottom: $sectionMarginBottomMobile;
    .homepage & {
      margin-top: $sectionMarginBottomMobile;
    }

    .upcoming-image {

      position: static;
      top:0;
      left:0;
      width:$MOBILE_WIDTH;
      margin: 5% auto -10% auto;

    }// .upcoming-image

    .upcoming-sub {
      margin: auto;
      width: 80%;
    }// upcoming-sub

    .upcoming-headline {
      h1 {font-size: 11vw;}
    }// .upcoming-headline

    .upcoming-sub {
      position: static;
      text-align: left;
      font-size: 14px;
    }

    .upcoming-cta {
      &.onlymobile {display: block;}

      top: 100%;
      right: -3vw;
      .filler {
        padding: 24px;
      }
//      transform: translateY(-50%);
    }
  }// BP MOBILE
}// .upcoming

.upcoming-headline {
  position: relative;
  z-index: 1;
  display: inline-block;

  h1 {
    font-size: 7vw;
    letter-spacing: 0.5vw;
    margin: 0;
    text-align: center;
  }
}

.upcoming-info {
  font-size: 1vw;
  letter-spacing: 0.05vw;
  padding: 4vw;
  text-align: center;
  line-height: 1.6em;
  background: #fff;
  box-shadow: 0 3px 30px rgba(0,0,0,0.15);
  position: relative;
  width: 30%;
  //margin: -2.5vw auto 0 35%;
  margin: -2.5vw auto 0 53%;
  top: 3.75vw;
  font-weight: 500;

  @include breakpoint(mobile) {
//    position: static;
    width: 80%;
    margin: -4vw auto 0 auto;
//    margin-bottom: 4vw;
    padding: 10vw 5vw;
    font-size: 14px;
  }
}// .upcoming-info

.upcoming-sub {
  font-size: 1vw;
  letter-spacing: .1em;
  text-align: left;
//  position: absolute;
//  top: 50%;
//  right: 90%;
//  @include breakpoint(mobile) {
//    position: static;
//  }// BP MOBILE
}// .upcoming-sub

//a.upcoming-cta {
//  @include cta(#000, #fff);
//  white-space: nowrap;
//  position: absolute;
////  top: 40%;
////  right: 90%;
//}// .upcoming-cta