.video-js {
  font-size: 10px;
  color: white;
  @include preloader();

  .vjs-control-bar {
    background: none;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 5%;
    @include flexbox();
    @include flex-value(direction, row);
    @include prefixed(justify-content, space-between);
  }// .vjs-control-bar

  .vjs-big-play-button {
    border: none;
    background: none;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
  }// .vjs-big-play-button

  .vjs-slider {
    background-color: rgba(255, 255, 255, .2);

    .vjs-volume-level, .vjs-play-progress, .vjs-slider-bar {
      background: rgba(255, 255, 255, .8);
    }

    .vjs-load-progress {
      background: rgba(255, 255, 255, .8);

      div {
        background: rgba(255, 255, 255, .8);
      }// div
    }// .vjs-load-progress
  }// .vjs-slider

}// .video-js