.video-js {
  font-size: 10px;
  color: white;
  //@include preloader();

  &:hover {

    .vjs-big-play-button { background: none;}

    &.vjs-has-started {
      .vjs-control-bar {@include autoAlpha(1);}
    }
  }

  //&.vjs-has-started {
  //  // to make entire video clickable, fill invisible big-button
  //  .vjs-big-play-button {
  //    display: block;
  //    top: 0;
  //    left: 0;
  //    width: 100%;
  //    height: 100%;
  //    margin: 0;
  //    @include autoAlpha(0);
  //    &:before {content:none;}
  //  }
  //}

  .vjs-poster {
    background-size: cover;
  }

  .vjs-loading-spinner {
    @include preloader();
    background-size: 70%;
    opacity: 1;
    border: none;
    border-radius: 0;

    &:before, &:after {content:none;}
  }

  .vjs-control-bar {
    background: none;
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 5%;
    @include flexbox();
    @include flex-value(direction, row);
    @include prefixed(justify-content, space-between);
    @include autoAlpha(0);
    @include prefixed(transition, $shortTrans);
  }// .vjs-control-bar

  .vjs-big-play-button {
    border: none;
    background: none;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: 50%;
    left: 50%;
    margin-top:-10px;
    margin-left:-10px;
  }// .vjs-big-play-button

  .vjs-volume-menu-button, .vjs-remaining-time {display: none;}

  .vjs-play-progress:before {content:none;}// progress indicator circle

  .vjs-slider {
    background-color: rgba(255, 255, 255, .2);

    .vjs-volume-level, .vjs-play-progress, .vjs-slider-bar {
      background: rgba(255, 255, 255, .8);
    }

    .vjs-load-progress {
      background: rgba(255, 255, 255, .8);

      div {
        background: rgba(255, 255, 255, .8);
      }// div
    }// .vjs-load-progress
  }// .vjs-slider

}// .video-js